train/dohr/*.txt
train/*.txt
.ipynb_checkpoints
__pycache__
.idea/

# Don't ignore english, slovene and german translations
!train/dohr/slv.txt
!train/dohr/eng.txt
!train/dohr/ger.txt
!train/dohr/readme.txt